@inherits LayoutComponentBase

<div class="page d-flex flex-column min-vh-100">
    <div class="">
        <NavMenu />
    </div>

    <main class="flex-grow-1">

        <article class="lms-content px-4">
            @Body
        </article>
    </main>
    <Footer />
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>