@implements IDisposable
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

<nav class="navbar navbar-expand-md navbar-dark lms-navbar" role="navigation" aria-label="Main">
    <div class="container-fluid lms-container">

        <a class="navbar-brand" href="">
            LEXICON LMS
        </a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#lmsNav"
                aria-controls="lmsNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="lmsNav">
            <ul class="navbar-nav me-auto align-items-md-center">
                <li class="nav-item">
                    <NavLink class="nav-link lms-link" href="courses">Kurser</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link lms-link" href="about">Om oss</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link lms-link" href="contact">Kontakt</NavLink>
                </li>

                <AuthorizeView Roles="Teacher,Admin,Student">
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link lms-link" href="Account/Manage">Mitt konto</NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
            </ul>

     
            <ul class="navbar-nav ms-auto align-items-md-center">
                <AuthorizeView>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link lms-user" href="Account/Login">Logga in</NavLink>
                        </li>
                    </NotAuthorized>

                    <Authorized>
                        <AuthorizeView Roles="Teacher" Context="teacherContext">
                            <Authorized>
                                <li class="nav-item">
                                    <NotificationBell />
                                </li>
                            </Authorized>
                        </AuthorizeView>
                        <li class="nav-item">
                            @{
                                var user = context.User;

                                var firstName = user.FindFirst("FirstName")?.Value
                                ?? user.FindFirst(ClaimTypes.GivenName)?.Value;
                                var lastName = user.FindFirst("LastName")?.Value
                                ?? user.FindFirst(ClaimTypes.Surname)?.Value;

                                var displayName = string.Join(" ", new[] { firstName, lastName }
                                .Where(s => !string.IsNullOrWhiteSpace(s)));
                                if (string.IsNullOrWhiteSpace(displayName))
                                {
                                    displayName = user.Identity?.Name ?? "Min sida";
                                }

                                string profileHref =
                                user.IsInRole("Teacher") || user.IsInRole("Admin") ? "/teacher" :
                                user.IsInRole("Student") ? "/student" :
                                "/"; 

                            }
                            <NavLink class="nav-link lms-user" href="@profileHref">
                                @displayName
                            </NavLink>
                        </li>

                        <li class="nav-item">
                            <form action="Account/Logout" method="post" class="d-inline m-0" @formname="logout-form">
                                <AntiforgeryToken />
                                <NavLink href="/" class="">
                                    <input type="hidden" name="ReturnUrl" />
                                </NavLink>
                                <button type="submit" class="btn btn-link nav-link">Logga ut</button>
                            </form>
                        </li>
                    </Authorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>
