@implements IDisposable
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Authorization


<nav class="navbar navbar-expand-md navbar-dark lms-navbar" role="navigation" aria-label="Main">
    <div class="container-fluid lms-container">

        <!-- Brand -->
        <a class="navbar-brand" href="">
            LEXICON LMS
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#lmsNav"
                aria-controls="lmsNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible area -->
        <div class="collapse navbar-collapse" id="lmsNav">
            <!-- Left: main links -->
            <ul class="navbar-nav me-auto align-items-md-center">
                <li class="nav-item">
                    <NavLink class="nav-link lms-link" href="#">Kurser</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link lms-link" href="#">Om oss</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link lms-link" href="#">Kontakt</NavLink>
                </li>

                <AuthorizeView Roles="Teacher,Admin">
                    <Authorized>
                      @*   <li class="nav-item">
                            <NavLink class="nav-link lms-link" href="demoauth">DemoAuth</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link lms-link" href="demoauth2">Load data OnInitialized</NavLink>
                        </li> *@
                        <li class="nav-item">
                            <NavLink class="nav-link lms-link" href="teacher">Lärare</NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
            </ul>

            <!-- Right: user/auth -->
            <ul class="navbar-nav ms-auto align-items-md-center">
                <AuthorizeView>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link lms-user" href="Account/Register">Register</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link lms-user" href="Account/Login">Logga in</NavLink>
                        </li>
                    </NotAuthorized>

                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link lms-user" href="Account/Manage">
                                @context.User.Identity?.Name
                            </NavLink>
                        </li>
                        <li class="nav-item">
                           
                            <form action="Account/Logout" method="post" class="d-inline m-0">
                                <AntiforgeryToken />
                                <NavLink href="/" class="">
                                <input type="hidden" name="ReturnUrl" />
                                </NavLink>
                                <button type="submit" class="btn btn-link nav-link">Logga ut</button>
                            </form>
                           
                        </li>

                    </Authorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

