/*:root {
    --primary: #2B7A78;
    --accent: #3AAFA9;
    --text: #17252A;
    --muted: #DEF2F1;
    --base: #FEFFFF;
    --bg-main: #004651; 
}
*/
.lms-navbar {
    background: var(--bg-main);
    min-height: 64px;
    padding-top: 0;
    padding-bottom: 0;
    font-family: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}


.lms-container {
    max-width: 1440px;
}

.lms-navbar .navbar-brand {
    color: var(--base) !important; 
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-right: 1rem;
}

    .lms-navbar .navbar-brand:hover {
        color: var(--base) !important;
    }


.lms-link {
    color: var(--base) !important;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    opacity: .92;
    padding-left: .75rem;
    padding-right: .75rem;
}

    .lms-link.active,
    .lms-link:hover {
        opacity: 1;
    }


.lms-user {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.btn-link:focus,
.btn-link:active,
.nav-link:focus,
.nav-link:active {
    box-shadow: none !important;
    outline: none !important;
}

    .navbar-dark .navbar-toggler {
        border-color: rgba(255,255,255,.25);
    }

.navbar-dark .navbar-toggler-icon {
    filter: none;
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--bg-main);
        z-index: 1000;
        border-top: 1px solid rgba(255,255,255,.1);
        padding: 0.8rem;
    }
}